@model User

@{
    ViewData["Title"] = "Create";
}


<drv class="row">
    <div class="col">
    </div>
    <div class="col-4">
        <h1>Create</h1>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary mt-2">Register</button>
            </div>
        </form>
    </div>
    <div class="col">

    </div>
</drv>