@{
    ViewData["Title"] = "Home Page";
}

<div class="col" id="comercial">
</div>
<h2 class="align-center">Products</h2>
<div class="container">
    <div class="row" id="products">
        <div class="col" id="product_a">
            <img src="/media/products/AM_Command.jpg" alt="Product A" style="max-width:200px">
            <div class="text-holder">
                <span>Product A</span>
            </div>
        </div>
        <div class="col" id="product_b">
            <img src="/media/products/champion.jpg" alt="Product B" style="max-width:200px">
            <div class="text-holder">
                <span>Product B</span>
            </div>
        </div>
        <div class="col" id="product_c">
            <img src="/media/products/puma_T.jpg" alt="Product C" style="max-width:200px">
            <div class="text-holder">
                <span>Product C</span>
            </div>
        </div>
    </div>
</div>